<!-- info section -->
<div class="info_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 ml-auto">
        <div class="row info_main-row">
          <div class="col-md-6 pr-0">

            <!-- contact section -->

            <section class="contact_section" id="contact">
              <h2>
                Request A Call Back
              </h2>
              <form method="post">
                {% csrf_token %}
                <div>
                  {{ form.name }}
                </div>
                <div>
                  {{ form.number }}
                </div>
                <div>
                  {{ form.email }}
                </div>
                <div>
                  {{ form.message }}
                </div>
                <div class="d-flex ">
                  <button>
                    SEND
                  </button>
                </div>
              </form>
              <div class="map_container">
                <div class="map">
                  <div id="googleMap" style="width:100%;height:300px;"></div>
                </div>
              </div>
            </section>

            <!-- end contact section -->


            <!-- footer section -->
            <section class=" footer_section ">
              <div class="social_box">
                <a href="#">
                  <img src="/static/images/facebook.png" alt="">
                </a>
                <a href="#">
                  <img src="/static/images/twitter.png" alt="">
                </a>
                <a href="#">
                  <img src="/static/images/linkedin.png" alt="">
                </a>
                <a href="#">
                  <img src="/static/images/instagram.png" alt="">
                </a>
                <a href="#">
                  <img src="/static/images/youtube.png" alt="">
                </a>
              </div>
              <p>
                &copy; 2020 All Rights Reserved. Design by
                <a href="https://html.design/">Free Html Templates</a>
              </p>
            </section>
            <!-- footer section -->

          </div>
          <div class="col-md-6  px-0">
            <div class="img-box">
              <img src="/static/images/footer-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end info section -->